@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@300&display=swap");

/* Global styling */ 

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

body {
    background-color: aliceblue;
    color: gray;
    text-align: center;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    /* width: 100%; */
    position: fixed;
    top: 0;
    /* display: flex; */
    padding: 20px 0;
    letter-spacing: 2px;
}

header h1 {
    font-size: 280%;
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 20px 0;
}

footer p {
    font-size: 120%;
    padding: 10px 0;
}

#social-networks>li {
    display: inline;
}

#social-networks i {
    font-size: 160%;
    padding: 0 5px;
}

#main-container {
    background-color: white;
    box-sizing: border-box;
    /* width: 70%;
    height: auto;
    max-width: 800px;
    max-height: 700px; */
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#main-image, #result-images {
    /* width: 400px;
    height: 200px; */
    align-items: center;
    display: flex;
    /* column-gap: 7rem; */
}

#number-results {
    box-align: center;
    display: flex;
}

.active {
    background-color: green;
}

.disable {
    pointer-events: none;
}

#game-container.start .user_image { 
    transform-origin: left !important;
    animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}

#game-container.start .cpu_image {
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

.user_image img {
    transform: rotate(90deg);
}

.cpu_image img {
    transform: rotate(-90deg) rotateY(180deg);
}

.hide {
    display: none;
}

@media screen and (max-width: 385px) {
    .user-image img {
        transform: rotate(180deg);
    }
    
    .cpu-image img {
        transform: rotate(0deg) rotateY(180deg);
    }
        
}