/* Global styling */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    color: gray;
    text-align: center;
    /* width: 100vw; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    background-color: white;
    box-sizing: border-box;
    /* width: 70%;
    height: auto;
    max-width: 800px;
    max-height: 700px; */
    /* margin-left: auto;
    margin-right: auto; */
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

#main-image, #result-images {
    /* width: 400px;
    height: 200px; */
    /* display: flex; */
    /* align-items: center; */
    /* display: flex; */
    /* column-gap: 7rem; */
}

.user-image img, .cpu-image img {
    /* width: 200px; */
    /* max-width: 100%; */
    /* height: 200px; */
    /* object-fit: contain; */
    /* position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
}

.button-selected {
    background-color: green;
}

#game_container.start + #result-images .user_image {
    transform-origin: left;
    animation: userShake 0.8s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}

#game_container.start + #result-images .cpu_image {
    transform-origin: right;
    animation: cpuShake 0.8s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

.user_image img {
    transform: rotate(90deg);
}

.cpu_image img {
    transform: rotate(-90deg) rotateY(180deg);
}

.hide {
    display: none;
}

@media screen and (max-width: 605px) {
    .user-image img {
        transform: rotate(180deg);
    }
    
    .cpu-image img {
        transform: rotate(0deg) rotateY(180deg);
    }
        
}