@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Roboto:wght@600&display=swap");

/* Global styling */ 

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    color: rgb(10, 96, 10);
}

/* body styling */

body {
    background-color: rgb(244, 244, 244);
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

/* header styling */

header {
    height: auto;
    position: fixed;
    display: flex;
    top: 0;
    padding: 20px 0;
    letter-spacing: 2px;
}

header h1 {
    font-size: 280%;
    text-decoration: none;
}

/* footer styling */

footer {
    height: auto;
    position: fixed;
    bottom: 0;
    padding: 20px 0;
}

footer p {
    font-size: 120%;
    padding: 10px 0;
}

#social-networks>li {
    display: inline;
}

#social-networks i {
    font-size: 160%;
    padding: 0 5px;
}

/* buttons styling */

.btn {
    width: 35%;
    height: auto;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 1.5rem;
    border: 2px solid rgb(10, 96, 10);
    background-color: rgb(244, 244, 244);
    border-radius: 12px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    transition: all 0.5s;
}

.btn_start, .btn_number {
    margin-top: 20px;
}

.btn_odds, .btn_evens, .btn_exit {
    margin: 20px;
}

.btn_number {
    width: 13%;
    font-size: 1.3rem;
    margin-left: 2px;
    margin-right: 2px;
}

.btn:hover {
    color: white;
    background-color: rgb(10, 96, 10);;
}

.active {
    color: white;
    background-color: rgb(10, 96, 10);;
}

.disable {
    pointer-events: none;
}

/* main container styling */

#main-container {
    background-color: white;
    box-sizing: border-box;
    width: 60%;
    height: auto;
    max-width: 800px;
    max-height: 800px;
    margin: auto;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    letter-spacing: 1px;
}

.hide {
    display: none;
}

/* instructions container styling */

#main-container h2 {
    padding-bottom: 10px;
}

#main-container ol {
    display: inline-block;
}

#main-container li {
    padding: 3px;
    text-align: left;
}

/* game container styling */

#results-container {
    padding: 0 20px 20px 20px;
}

#number-results {
    justify-content: center;
    display: flex;
    column-gap: 40px;
    padding-top: 20px;
}

/* images styling */

#main-image, #result-images {
    justify-content: center;
    height: 200px;
    display: flex;
    column-gap: 3rem;
    padding: 10px 10px 0 10px;
}

.user_image img {
    transform: rotate(90deg);
}

.cpu_image img {
    transform: rotate(-90deg) rotateY(180deg);
}

/* images animation styling */

#game-container.start .user_image { 
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
    50% {
        transform: rotate(10deg);
    }
}

#game-container.start .cpu_image {
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
    50% {
        transform: rotate(-10deg);
    }
}

/* for medium to small screens size from 670px wide and down */

@media screen and (max-width: 670px) {
    #main-container {
        width: 97%;
        max-height: auto;
    }

    #main-image, #result-images {
        column-gap: 1rem;
    }

    header h1 {
        font-size: 180%;
    }
    
    footer p {
        font-size: 100%;
        padding: 10px 0;
    }

    #social-networks i {
        font-size: 120%;
        padding: 0 5px;
    }
}

/* for small to extra-small screens size from 510px wide and down */

@media screen and (max-width:510px) {
    #main-image, #result-images {
        height: 170px;
    }

    .user_image img, .cpu_image img {
        height: 150px;
    }

    header h1 {
        font-size: 130%;
    }

    footer {
        padding: 10px;
    }
    
    footer p {
        font-size: 70%;
        padding: 10px 0;
    }

    #social-networks i {
        font-size: 100%;
    }

    #instructions {
        font-size: 70%;
    }
}